@charset "utf-8";

body {
	background: url(../image/Adeptus-Mechanicus-back_big.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	background-color: black;
}

nav {
    background: #212121;
}

.home{
   /* width: 95%;
    height: 38%;*/
    background: url(../image/Mars.jpg);
    opacity: 0.85;
    color: #fafafa;
    border: 1px solid #424242;
    position: relative;
}

.home_text_title{

    padding-top: 5.5%;
    padding-left: 6%;
}

.home_text_content{
    
    text-align: right;
    padding-top: 12%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 12pt;
}

.tech{ 
   /* width: 105%;
    height: 38%;*/
    opacity: 0.85;
    background-image: url(../image/mech-tech.png);
    background-size: cover;
    border: 1px solid #424242;
    color: #fafafa;    
}

.tech-title{
    text-transform: uppercase;
    padding-left: 2%;
    padding-top: 2%;
    text-shadow: 1px 1px 2px #616161;
}

.tech-content{
    text-align: right;
    padding-top: 23%;
    padding-right: 2%;
    font-size: 13pt;
    text-shadow: 1px 1px 2px #eeeeee; 
}

.entry{
    /*width: 100%;
    height: 80%;*/
    background-image: url(../image/Techpriest-Adeptus-Mechanicus-4121344.jpg);
    background-size: cover;
    background-position: center;
    color: #fafafa;
    border: 1px solid #424242;
    opacity: 0.85;
    position: relative;
/*    margin-left: 300%;
    margin-top: -171.5%;*/
}

.entry-title {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #616161;
    padding-left: 3%;
}

.entry-text{
    padding-top: 10%;
    text-align: right;
    font-size: 13pt;
    padding-right: 7%;
}

.product{
    /*width: 85%;
    height: 38%;*/
    height: 350px;
    background-image: url(../image/Repulsor2.png);
    background-size: cover;
    color: #e0e0e0;
    border: 1px solid #424242;
    opacity: 0.85;
    position: relative;
    /*left: 4%;*/
}

.product-title{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #212121;
    padding-top: 2%;
    padding-left: 5%;
}

.product-text{
    font-size: 12pt;
    text-align: right;
    padding-top: 21%;
    padding-right: 5%;
    color: #e0e0e0;
    text-shadow: 1px 1px 2px #212121;        
}

.library{
    /*width: 80%;
    height: 38%;*/
    background-image: url(../image/library.jpg);
    border: 1px solid #424242;
    opacity: 0.85;
    color: #fafafa;
    position: relative;
    /*left: 1%;*/
}

.library-title{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #212121; 
    padding-left: 5%;
    padding-top: 5%;
}

.library-text{
    font-size: 11pt;
    padding-top: 39%;
    text-align: right;
    text-shadow: 1px 1px 2px #212121;  
}

.home:hover{
    opacity: 1;
}

.tech:hover{
    opacity: 1;
}

.entry:hover{
    opacity: 1;
}

.product:hover{
    opacity: 1;
}

.library:hover{
    opacity: 1;
}

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(245, 245, 245, 0.2), 0 6px 20px 0 rgba(245, 245, 245, 0.19);
          box-shadow: 0 8px 17px 0 rgba(245, 245, 245, 0.2), 0 6px 20px 0 rgba(245, 245, 245, 0.19);
}

/*
@media screen and (max-width: 425px){
    
    
    
    .home{
        width: 400px;
        height: 200px;
    }
    
    .home_text_title {
        padding-left: 25%;
    }
    
    .library {
        width: 400px;
        height: 200px;
        left: 0%
    }
    
    .library-title{
        padding-left: 25%;
    }
    
    .tech{
        width: 400px;
        height: 200px;
    }
    
    .tech-title {
        padding-top: 10%;
    }
    
    .product{
        width: 400px;
        height: 200px;
        left: 0%;        
    }
    
    .product-title{
        padding-left: 25%;
    }
    
    .entry{
        height: 200px;
        margin-left: 0%;
        margin-top: 0%;
        background-position: center;
    }
    
    .entry-title {
        padding-left: 25%;
    }
    
}

@media screen and (max-width: 320px){
    
    
    
    .home{
        width: 300px;
        height: 200px;
    }
    
    .home_text_title {
        padding-left: 25%;
    }
    
    .library {
        width: 300px;
        height: 200px;
        left: 0%
    }
    
    .library-title{
        padding-left: 25%;
    }
    
    .tech{
        width: 300px;
        height: 200px;
    }
    
    .tech-title {
        padding-top: 10%;
    }
    
    .product{
        width: 300px;
        height: 200px;
        left: 0%;        
    }
    
    .product-title{
        padding-left: 25%;
    }
    
    .entry{
        width: 300px;
        height: 200px;
        margin-left: 0%;
        margin-top: 0%;
        background-position: center;
    }
    
    .entry-title {
        padding-left: 10%;
    }
    
}

@media screen and (max-width: 375px){
    
    
    
    .home{
        
        width: 350px;
        height: 200px;
    }
    
    .home_text_title {
        padding-left: 25%;
    }
    
    .library {
        width: 350px;
        height: 200px;
        left: 0%
    }
    
    .library-title{
        padding-left: 25%;
    }
    
    .tech{
        width: 350px;
        height: 200px;
    }
    
    .tech-title {
        padding-top: 10%;
    }
    
    .product{
        width: 350px;
        height: 200px;
        left: 0%;        
    }
    
    .product-title{
        padding-left: 25%;
    }
    
    .entry{
        width: 350px;
        height: 200px;
        margin-left: 0%;
        margin-top: 0%;
        background-position: center;
    }
    
    .entry-title {
        padding-left: 10%;
    }
    
}

@media screen and (max-width: 768px){ 
    
    .home{
        
        width: 350px;
        height: 200px;
    }
    
    .home_text_title {
        padding-left: 25%;
    }
    
    .library {
        width: 350px;
        height: 200px;
        left: 0%
    }
    
    .library-title{
        padding-left: 25%;
    }
    
    .tech{
        width: 350px;
        height: 200px;
    }
    
    .tech-title {
        padding-top: 10%;
    }
    
    .product{
        width: 350px;
        height: 200px;
        left: 0%;        
    }
    
    .product-title{
        padding-left: 25%;
    }
    
    .entry{
        width: 720px;
        height: 200px;
        margin-left: 0%;
        margin-top: 0%;
        background-position: center;
    }
    
    .entry-title {
        padding-left: 10%;
    }
    
}

@media screen and (max-width: 1024px){ 
    
    .home{
        
        width: 600px;
        height: 280px;
    }
    
    .home_text_title {
        padding-left: 25%;
    }
    
    .library {
        width: 600px;
        height: 280px;
        left: 0%
    }
    
    .library-text{
        padding-top: 
    }
    
    .library-title{
        padding-left: 25%;
    }
    
    .tech{
        width: 350px;
        height: 200px;
    }
    
    .tech-title {
        padding-top: 10%;
    }
    
    .product{
        width: 350px;
        height: 200px;
        left: 0%;        
    }
    
    .product-title{
        padding-left: 25%;
    }
    
    .entry{
        width: 720px;
        height: 200px;
        margin-left: 0%;
        margin-top: 0%;
        background-position: center;
    }
    
    .entry-title {
        padding-left: 10%;
    }
    
}
*/